@model AgroTour_AggregateRoot.Entities.Location

<div class="card-header bg-light bg-gradient m-lg-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-black py-2">Update Location</h1>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="row" asp-action="UpdateLocation">
            <input asp-for="Id" hidden />
            <div class="p-3">
                <!-- Location Name -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="locationName" class="form-control border shadow" />
                    <label asp-for="locationName" class="ms-2">Location Name</label>
                    <span asp-validation-for="locationName" clsss="text-danger"></span>
                </div>

                <!-- Location Address -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="LocationAddress" class="form-control border shadow" />
                    <label asp-for="LocationAddress" class="ms-2">Location Address</label>
                    <span asp-validation-for="LocationAddress" clsss="text-danger"></span>

                </div>

                <!-- Location City -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="LocationCity" class="form-control border shadow" />
                    <label asp-for="LocationCity" class="ms-2">Location City</label>
                    <span asp-validation-for="LocationCity" clsss="text-danger"></span>

                </div>

                <!-- Cost -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="Cost" class="form-control border shadow" />
                    <label asp-for="Cost" class="ms-2">Cost</label>
                    <span asp-validation-for="Cost" clsss="text-danger"></span>

                </div>

                <!-- Capacity -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="Capacity" class="form-control border shadow" />
                    <label asp-for="Capacity" class="ms-2">Capacity</label>
                    <span asp-validation-for="Capacity" clsss="text-danger"></span>
                </div>
                <!-- Booked -->
                <div class="form-floating py-1 col-12">
                    <div>
                        <div>
                            <label asp-for="Capacity" class="ms-2">Booked</label>
                        </div>
                        <div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsBooked, true, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsBooked">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsBooked, false, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsBooked">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Location" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancle
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}

